<div ng-controller="startController as vm">
     
     <div ng-if="vm.folders.length !=0" ng-repeat="folder in vm.folders track by $index">
         {{folder.folderPath}}
     </div>

     <div>
         Add Folder Path

         <div>
             
             <input type="text" required ng-model="vm.folderPath">

             <button type="button" ng-click="vm.addFolder()">Add</button>
              <button type="button" ng-click="vm.updateFolderList()">Update</button>  
            
         </div>
     </div>
</div>